.queue-section .yt-uix-button-icon-wrapper .yt-uix-button-icon-dismissal{
  background: url('https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfllryam5.webp') no-repeat -298px -217px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
}
