.tinder_settings {
    cursor: pointer !important;
}
.recCard__img {
    display: none;
}
.messageListItem__avatar img {
    display: none;
}

h5 {
    padding: 0 20px;
    text-align: center;
}
.popup {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group {
    margin-top: 20px;
}

button {
    cursor: pointer;
}
